h1{
  font-size:4rem;
  line-height: 0px;
}
.raw{
  display:flex;
  justify-content: space-around;
  text-align:center;
}
#sb{ 
  display:flex;
  justify-content:space-around;
  min-width:220px;
  padding-bottom: 20px;

}
.left, .righty{
  color: white;
  width:40vw;
  background-color:#0040a8;
 text-align:center;
  min-width:110px;
  padding-bottom: 20px;
  border-radius: 7px;
  margin-top: 5px;
  
}
button:focus {
  outline: none;
}
#switch{
  
}
.plus{
  width:20vw;
  padding: 15px 5px 0px 5px;
  background-color:#eff2ff;
  border: 0px solid blue;
  font-size: 1.7em;
  border-radius: 20px 20px 0px 0px
    
}

.minus{
   width:20vw;
  padding: 5px 5px 10px 5px;
  background-color:#560000;
  border: 0px solid blue;
  font-size: 1.7em;
  border-radius: 0px 0px 20px 20px;
  color:white;
}
button{
  padding:1em;
  margin:11px;
}
div, button, body{
  font-family: 'Arvo', serif;
}
#switch{
  width:90vw;
  color:#560000;
  font-size:20px;
  padding:0px;
  margin:0;
}
.rig{
  background-color:#0040a8;
  color: white
}
.lef{
  background-color:#560000;
  color:white;
}
.wrap{
  display:flex;
  flex-direction:column;
  height:90vh;
  justify-content:space-around;
}
