h1{
  font-size:4rem;
  line-height: 0px;
}
.raw{
  display:flex;
  justify-content: space-around;
  text-align:center;
}
#sb{ 
  display:flex;
  justify-content:space-around;
  min-width:220px;
  padding-bottom: 20px;

}
.righty{
  background-color:#ce180e;
}
.left{
  background-color:#0040a8;
}
.left, .righty{
  color: white;
  width:40vw;
  min-height:50vw;
 text-align:center;
  min-width:110px;
  padding-bottom: 20px;
  border-radius: 12px;
  margin-top: 5px;
  
}
button:focus {
  outline: none;
}
#switch{
  
}
.plus{
  width:20vw;
  padding: 0px;
  background-color:#whitesmoke;
  border: 0px solid blue;
  font-size: 4em;
  border-radius: 140px 140px 0px 0px
    
}

.minus{
   width:20vw;
  padding: 0px;
  background-color:#3a3838;
  border: 0px solid blue;
  font-size: 4em;
  border-radius: 0px 0px 140px 140px;
  color:white;
}
button{
  
  margin:11px;
  font-size: 18px;
}
div, button, body{
  font-family: 'Arvo', serif;
}
#switch{
  border-radius: 12px;
  border: 0px solid white;
  width:90vw;
  color:#560000;
  font-size:20px;
  padding:0px;
  height:35px;
}
.rig{
  border-radius: 12px;
  border: 0px solid white;
  background-color:#0040a8;
  color: white;
  font-size:2em;
}
.lef{
    border-radius: 12px;
  border: 0px solid white;
  background-color:#ce180e;
  color:white;
  font-size:2em;
}
.wrap{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vw;
}
.game, .set{
  width: 30vw;
  height: 20vh
}
